/* Element.css */
.carContainer {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 2.5% 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%; /* Set max width for responsiveness */
    height: 250px; /* Fixed height to make it rectangular */
    overflow: hidden; /* Hide overflow if content exceeds height */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space between items */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth animation */
    text-align: left; /* Align text to the left */
}

    .carContainer:hover {
        box-shadow: inset;
        transform: scale(1.05); /* Slightly increase size */
    }

.carTitle {
    font-size: 1.5em;
    color: #333;
}

.carImage {
    width: 200px;
    height: auto;
    margin-right: 5%; /* Space between image and description */
}

.carDescription {
    font-size: 1em;
}

.rentInfo {
    text-align: right; /* Align text to the right */
}

.carPrice {
    font-size: 1.2em; /* Adjust the font size for price */
    color: #333; /* Price color */
    margin-bottom: 10px; /* Space between price and button */
}

.rentButton {
    background-color: rgb(255, 0, 0) !important; /* Ensure Bootstrap styles don't override */
    color: white !important;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    height: 40px; /* Set desired height */
}