.searchContainer {
    width: 50%;
    max-width: 50vw; /* Equivalent to max-w-xl in Tailwind */
    /*margin: 0 auto;*/ /* Centering horizontally */
    padding: 1rem;  /*Equivalent to p-20 in Tailwind */
    font-size: 1.25rem; /* Equivalent to text-xl in Tailwind */
}

.searchInput {
    width: 80%;
    padding: 1rem; /* Equivalent to p-4 in Tailwind */
    placeholder-color: #9ca3af; /* Equivalent to placeholder-gray-400 */
    color: #111827; /* Equivalent to text-gray-900 */
    border-radius: 10px;
}

.searchButton {
    background-color: white; /* Equivalent to bg-white */
    padding: 1rem; /* Equivalent to p-4 */
}
