#root {
    margin: 0 auto;
    text-align: center;
    background: rgb(255,250,250);
    color: black;
    font-family: Roboto, sans-serif;
}


fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
}

.searchReserveContainer {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space out the children */
    align-items: center; /* Center items vertically */
    padding: 20px; /* Add some padding for better appearance */
}

.reserve {
    margin-left: 20px; /* Optional: Add some space between SearchBar and Reserve */
}