.navBar {
    background: linear-gradient(85deg, rgba(2,0,36,1) 0%, rgba(19,62,135,1) 57%, rgba(0,212,255,1) 100%);
    height: 5rem;
    width: 95%;
    margin-bottom: 10%;
    margin-right: 5%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center; /* Center the items vertically */
    justify-content: space-between;
    position: fixed; /* Ensure the navbar stays fixed at the top */
    top: 0; /* Align it to the top of the page */
    z-index: 3; /* Make sure the navbar stays above other elements */
    max-width: 100%; /* Allow navbar to take full width */
    border-radius: 8px; /* No rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a shadow for better separation */
}

.desktopMenuListItem {
    all: unset;
    margin: 1rem;
    cursor: pointer;
    color: black;
    width: 20%;
}

    .desktopMenuListItem:hover {
        color: yellow;
        padding-bottom: 0.5rem;
        border-bottom: 3px solid yellow;
    }

    .desktopMenuListItem:focus {
        outline: none;
    }

.desktopMenuImg {
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}

.desktopMenuButton {
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
}

    .desktopMenuButton:hover {
        transition: 300ms ease-in-out;
        background: yellow;
    }

.logo {
    height: 10vh;
}
.li {
    all: unset;
}

.navbar-link {
    margin: 1rem;
    cursor: pointer;
    color: black;
}